---
- name: Create app directory
  file:
    path: "{{ app_project_dir }}"
    state: directory
    mode: "0755"

- name: Copy docker-compose.yml
  copy:
    src: "{{ compose_file_src }}"
    dest: "{{ compose_file_dst }}"
    mode: "0644"

- name: Pull images
  community.docker.docker_compose_v2:
    project_src: "{{ app_project_dir }}"
    pull: yes
  register: pull_result

- name: Bring up stack
  community.docker.docker_compose_v2:
    project_src: "{{ app_project_dir }}"
    state: present
    build: false
